<div *ngIf="isLoading; else contentTemplate">
  <div class="container mt-3 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-10">       
      </div>
      <div class="container mt-5 mb-5">        
        <div class="d-flex justify-content-between justify-content-around row">
          <div class="card mb-5" style="height: 500px; width: 280px; background: lightgray;"></div>
          <div class="card mb-5" style="height: 500px; width: 280px; background: lightgray;"></div>
          <div class="card mb-5" style="height: 500px; width: 280px; background: lightgray;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplate>
  <div class="container mt-3 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        </div>
      <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-between justify-content-around row">
          @for (movieData of searchResult$; track $index) {
          <app-movie-card [movie]="movieData" class="card mb-5" style="width: 18rem;"></app-movie-card>
          }
        </div>
      </div>
    </div>
  </div>
</ng-template>