<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="d-flex justify-content-around input-group">
        <input [(ngModel)]="searchedTerm" type="text" class="form-control" placeholder="Buscar filme..."
          (keypress.enter)="search()">
        <div class="input-group-append">
          <button (click)="search()" class="btn btn-danger" type="button">
            <img src="../../assets/buttons/magnifying-glass.svg" height ="20px" alt="Botão buscar"/>
          </button>
        </div>
      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-between justify-content-around row">
        @for (movieData of searchResult$; track $index) {
        <app-movie-card [movie]="movieData" class="card mb-5" style="width: 18rem;"></app-movie-card>
        }
      </div>
    </div>
  </div>
</div>