<div class="card" style="height: 500px;">
  <img src="{{movie.Poster}}" class="card-img-top img-fluid" style="height: 350px;"
    alt="{{'Imagem de ' + movie.Title}}">
  <div class="card-body d-flex flex-column justify-content-between">
    <h5 class="card-title">{{movie.Title}}</h5>
    <div class="row mt-auto">
      <div class="col-auto">
        <a href="details/{{movie.imdbID}}" class="btn btn-primary btn-sm">+ Informações</a>
      </div>
      <div class="col-auto">
        <button class="btn btn-none btn-sm border-0 shadow-none pointer-events-none" (click)="toggleFavorite()">
          <div *ngIf="isFavorite; else unfilledHeartIcon">
            <img src="../../../assets/buttons/heart-filled.svg" alt="Favorito marcado">
          </div>
          <ng-template #unfilledHeartIcon>
            <img src="../../../assets/buttons/heart-unfilled.svg" alt="Favorito desmarcado">
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>