<div class="container d-flex justify-content-center mt-5">
  <div class="col-md-4">
    <img src="{{movieDetails.Poster}}" alt="Poster de {{movieDetails.Title}}" class="img-fluid">
  </div>
  <div class="col-md-8">
    <h5>Título: {{movieDetails.Title}}</h5>
    <h5>Lançamento: {{movieDetails.Year}}</h5>
    <h5>Classificação indicativa: {{movieDetails.Rated}}</h5>
    <h5>Duração: {{movieDetails.Runtime}}</h5>
    <h5>Gênero: {{movieDetails.Genre}}</h5>
    <h5>Diretor(es): {{movieDetails.Director}}</h5>
    <h5>Escritor(es): {{movieDetails.Writer}}</h5>
    <h5>Atores: {{movieDetails.Actors}}</h5>
    <h5>Enredo: {{movieDetails.Plot}}</h5>
    <h5>Idioma: {{movieDetails.Language}}</h5>
    <h5>País de origem: {{movieDetails.Country}}</h5>
    <h5>Premiações: {{movieDetails.Awards}}</h5>
    <h5>Nota no IMDB: {{movieDetails.imdbRating}}</h5>
  </div>
</div>