body {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
}

.link-as-text {
  color: inherit;
  text-decoration: none;  
}

.link-as-text:hover,
.link-as-text:active,
.link-as-text:visited {
  color: inherit;
  text-decoration: none;
}